.search-nav {
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 769px) {
  .search-nav {
    flex-direction: column;
  }
  .search-nav .column {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .search-nav .column {
    width: 62%;
  }
}

.search-nav .column {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 5px;
}


.search-nav .search-input {
  width: 75%;
  margin-right: 10px;
}