.question-item {
  display: flex;
  margin: 10px 0;
  border-bottom: 1px solid var(--pink);
}

.question-item .avatar-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 20%;
}

.question-item .avatar-card .owner-link {
  max-width: 128px;
}

.question-item .avatar-card .owner-link img {
  max-width: 100%;
}

.question-item .avatar-card .owner-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.question-item .avatar-card .owner-details * {
  display: block;
}

.question-item .question-info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.question-item .question-info .create-date {
  color: var(--date-color);
  align-self: flex-end;
}

.question-item .question-info .info-header {
  display: flex;
}

.question-item .question-info .score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-item .question-info .score img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .question-item .avatar-card .owner-details * {
    font-size: 0.8em;
  }
}