.app-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: var(--main-bg);
  justify-content: center;
  pointer-events: none;
}
.app-loader.hidden {
  opacity: 0;
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
    .app-loader .logo {
      animation: App-logo-spin infinite 20s linear;
    }
    .app-loader.hidden .logo {
      animation: none;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}