.sort-link {
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  margin: 0 15px;
}

.sort-link .icon {
  width: 30px;
  height: 30px;
}

.sort-link:hover span {
  text-decoration: underline;
}