.result-area {
  display: flex;
  flex-direction: column;
  max-width: 48rem;
  min-height: calc(100vh - var(--search-nav-height));
  margin: auto;
}

@media only screen and (max-width: 769px) {
  .result-area {
    max-width: 38rem;
  }
}

@media only screen and (max-width: 600px) {
  .result-area {
    max-width: 25rem;
  }
}

@media only screen and (max-width: 400px) {
  .result-area {
    max-width: 20rem;
  }
}

.result-area .hidden-section {
  opacity: 0;
  max-height: calc(100vh - var(--search-nav-height));
}