body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pink: #ffa7c4;
  --dark-grey: #282c35;
  --main-bg: #fff;
  --date-color: #9199a1;
  --text-title: #fff;
  --text-link: #d23669;
  --item-border: #feeb3a;
  --search-nav-height: 50px;
}

h1 {
  font-size: 1.5em;
  color: var(--pink);
  margin: 0.2em;
}

h3 {
  font-size: 1.2em;
  color: var(--pink);
}

a {
  color: var(--text-link);
  text-decoration: none;
}

input {
  background: #fff;
  font-size: 0.8em;
  padding: 0.6em 0.7em;
  border: 1px solid #e3e3e3;
  line-height: 1.1;
  margin: 0;
  border-radius: 4px;
}

input.input-xs {
  font-size: 0.8em;
  padding: 0.2em 0.3em;
}

button {
  background-color: var(--text-link);
  border-radius: 4px;
  padding: 0.7em 1.4em;
  color: white;
  font-weight: 700;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 0.9em;
  }

  input {
    font-size: 0.8em;
    padding: 0.2em 0.3em;
    line-height: 0.8;
  }

  button {
    padding: 0.3em 0.6em;
  }
}