.sort-panel {
  background-color: var(--pink);
  display: flex;
  align-items: center;
  margin: 3px 0;
}

@media only screen and (max-width: 600px) {
  .sort-panel {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }
}

.sort-panel .search-input .input-label {
  padding: 5px;
}